<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cleartv.icu">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/security_config"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/SettingTheme">

        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CallActivity"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleInstance">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>
        <activity android:name=".ui.MonitorActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.MonitorCallActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.CallRecordActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.VideoPlayerActivity"
            android:screenOrientation="sensorLandscape"/>

        <provider
            android:authorities="cn.cleartv.icu.provider"
            android:name="cn.cleartv.icu.MyProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>